/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styling */

img {
    width: 100%;
    height: auto;
}

body {
/*    margin: 2em;*/
    font: normal 300 16px/150% "neue-haas-unica", "Helvetica Neue", "Helvetica", sans-serif;
}

header, footer {
    margin-bottom: 3rem;
    background: #fff;
}

header h1, header h3 {
    display: inline-block;
    padding: 2rem;
}

header h1 a, header h3 a {
    color: #0039A6;
    text-decoration: none;
}

header h1 a:hover, header h3 a:hover {
    opacity: 0.5;
}


footer {
    text-align: center;
    font-style: italic;
}

main {
    margin: 2rem;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    max-width: 1200px;
}

section {
    margin-bottom: 4rem;
}

a {
    color: #0039A6;
}

a:hover {
    opacity: 0.7;
}

p {
    padding-bottom: 1rem;
}

em {
    font-weight: 500;
    color: #0039A6;
}

h1, h2, h3 {
    font-weight: 600;
    padding-bottom: 1rem;
    padding-top: .4rem;
}

h1 {
    font-size: 2rem;
    color: #0039A6;
}

h2 {
    font-size: 1.3rem;
}

.large-number {
    font-size: 6rem;
    line-height: 7rem;
    text-align: center;
    padding-bottom: .2rem;
    color: #0039A6;
    
}

.emoji {
    font-size: 4rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.section-hd {
    padding-top: 3rem;
}

.vis-title {
    text-align:center;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 2rem;
/*    z-index: 15;*/
}

.bodytext {
    margin: 1rem 20% 0rem 20%;
}

.bodytext-spaced {
    margin-bottom: 7rem;
}

.bodytext-vis {
    margin-bottom: 0;
}

.light, h3.light {
    color: #fff;
}

.caption, .emoji-caption {
    text-align: center;
    font-weight: 400;
    font-style: italic;
}

.num-callout {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section-bg {
    background: #0039A6;
    position: absolute;
    left: 0;
    z-index: -100;
}

.section-bg-plain {
    background: #fff;
    position: absolute;
    left: 0;
    z-index: -50;
    width: 100%;
    height: 500px;
}

.section-bg img {
    opacity: 0.25;
}

.item { padding: 0}
.item0 {
    margin-left: 10%;
    margin-right: 10%;
}
.item1 {
    margin-left: 0%;
    margin-right: 30%;
}
.item2 {
    margin-left: 60%;
    margin-right: 10%;
}
.item3 {
    margin-left: 10%;
    margin-right: 60%;
}
.item4 {
    margin-left: 50%;
    margin-right: 10%;
}
.item5 {
    margin-left: 10%;
    margin-right: 10%;
}
.item6 {
    margin-left: 0%;
    margin-right: 50%;
}
.item7 {
    margin-left: 40%;
    margin-right: 10%;
}

.vis-embed {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

#vg-tooltip-element.vg-tooltip.custom-theme {
    background: white;
    border: none;
    font: normal 400 12px/18px "neue-haas-unica", "Helvetica Neue", "Helvetica", sans-serif;
    color: black;
}

#lost-top-vis, #lost-bottom-vis {
/*    margin-left: -6% !important;*/
/*    margin-top: -1.5rem;*/
    margin-bottom: 2rem;
}


#accessories-vis, #cat-type-vis, #cat-overview-vis, #topbottom-vis {
    margin-left: 15%;
    margin-right: 15%;
}

#cat-overview-vis, #accessories-vis {
    margin-top: 2rem;
}

#topbottom-vis {
    margin-top: 1.5rem;
}